/* Stylesheet for property presentation */

/* Overriding section elements which are general content containers */

section {
    margin-top: 50px;
    margin-bottom: 30px;
}

section:last-child {
    margin-bottom: 200px;
}

/* $$$ IMAGE STYLING */
section > img {
    /* Layout */
    width: 100%;
    height: auto;
}

/* $$$ Overview Box at the top $$$ */

.overview {
    /* Font*/
    font-size: 2.2rem;

    /* Layout */
    border: 1px solid #2e2d2d;
    padding: 0 8px 0 10px;

    /* Design */
    background-color: #2e2d2d;
    border-radius: 5px;

}

.overview b {
    /* Font */
    font-size: inherit;
    font-weight: bold;

    /* Design */
    background-color: inherit;
    color: #ffffed;
}

.overview ul {
    /* Font */
    font-size: inherit;
    background-color: inherit;

    /* Design */
    list-style: none;

    /* Behavior */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: wrap;
}


/* TODO: Suggest using flexbox*/
.overview ul li {
    /* Font */
    font-size: inherit;

    /* Layout */
    margin: 10px;

    /* Design */
    background-color: inherit;
    color: #ffffed;

    /* Behavior */
    flex: 1 220px;
}

/* TODO: This is not an actual solution, superscript still sticks out*/
.overview ul li:nth-child(5) {
    /* Layout */
    margin-top: -4.16px;
}

.overview ul li sup {
    /* Font*/
    font-size: inherit;

    /* Design */
    background-color: inherit;
    color: #ffffed;
}

/* $$$ CONTENT $$$ */
section > h3 {
    /* Font */
    font-size: 3.3rem;
    text-align: center;

}