/* Stylesheet for property presentation */

/* Overriding section elements which are general content containers */

section {
    margin-top: 50px;
    margin-bottom: 30px;
}

section:last-child {
    margin-bottom: 200px;
}

/* $$$ IMAGE STYLING */
section > img {
    /* Layout */
    width: 100%;
    height: auto;
}

/* $$$ Overview Box at the top $$$ */

.overview {
    /* Font*/
    font-size: 2.2rem;

    /* Layout */
    border: 1px solid #2e2d2d;
    /*padding: 0 8px 0 8px;*/

    /* Design */
    background-color: #2e2d2d;
    border-radius: 5px;

}

.overview b {
    /* Font */
    font-size: inherit;
    font-weight: bold;

    /* Design */
    background-color: inherit;
    color: #ffffed;
}

.overview ul {
    /* Font */
    font-size: inherit;
    background-color: inherit;

    /* Design */
    list-style: none;

    /* Behavior */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}



.overview ul li {
    /* Font */
    font-size: inherit;

    /* Layout */
    margin: 10px;

    /* Design */
    background-color: inherit;
    color: #ffffed;

    /* TEMPORARY FOR NOW */
    /*text-align: center;*/
}

.overview ul li sup {
    /* Font*/
    font-size: inherit;

    /* Design */
    background-color: inherit;
    color: #ffffed;
}

/* $$$ CONTENT $$$ */
section > h3 {
    /* Font */
    font-size: 3.3rem;
    text-align: center;

}