/* Stylesheet for real estate cards that appear in the showcase. File separated from realestate for clarity */

/* Individual Real Estate Card Properties */
.estate {
  /* Layout */
  border: 1px solid #2e2d2d;
  padding: 10px;

  /* Design */
  background-color: #ffffed;
  border-radius: 5px;
  box-shadow: 3px 3px 6px black;

  /* Behavior */
  display: flex;
  flex-direction: column;
}

.estate h4 {
  font-size: 2.5rem;
}

.estate p {
  margin: 0;
}
