/* Stylesheet for Real Estate page. Behavior is unique to this page */

/* Header override */
header {
    /* Font */
    text-align: unset;

    /* Layout */
    margin: 50px;
}

/* Main content */
main {
    /* Layout */
    margin: 1vw;

    /* Behavior */
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
}

/* Left-hand side search filter */
.filter {
    /* Layout */
    margin: 0 15px 0 0;
    min-height: 600px;
    padding: 10px;

    /* Design */
    color: #ffffed;
    background-color: #2e2d2d;
    border-radius: 5px;
    box-shadow: 3px 3px 6px black;

    /* Behavior */
    flex: 1 170px;
}

.filter > h4 {
    /* Font */
    font-size: 2.5rem;

    /* Layout */
    margin-bottom: 15px;
    /* Design */
    color: inherit;
    background-color: inherit;
}

.buttonsBox {
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
}

.bttn {
    /* Font */
    color: initial;
    font-size: 1.5rem;
    font-weight: bold;

    /* Layout */
    margin: 12px;
    padding: 15px;
    width: auto;

    /* Design */
    background-color: #ffffed;

    /* Behavior */
}

.filter button:hover {
    /* Design */
}

/* Right-hand side estate properties */
.showcase {
    /* Layout */
    padding-bottom: 100px;

    /* TODO: This flex works like total shit */
    /* Behavior */
    flex: 7 930px; /* For previous flex component */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 30px;
}


/* Individual Real Estate Card Properties */
.estate {
    /* Layout */
    border: 1px solid #2e2d2d;
    padding: 10px;

    /* Design */
    background-color: #ffffed;
    border-radius: 5px;
    box-shadow: 3px 3px 6px black;

    /* TODO: This seems unfinished */
    /* Behavior */
    display: flex;
    flex-direction: column;
}

/* Links in showcase (which are enveloping individual cards) */
.estate a {
    color: inherit;
    text-decoration: none;
    height: 100%;
}

/* Card content */
.estate h3 {
    font-size: 3rem;
    margin: 0;
}

.estate h4 {
    font-size: 2.5rem;
}

.estate p {
    margin: 0;
}

/* Estate image manipulation */
.estate img {
    width: 100%;
}