/* This document is for external objects like YouTube videos and Google Maps */

/* Google Maps in Footer */
.footer-map {
  height: 0;
  overflow: hidden;
  padding-bottom: 20%;
  position: relative;
}

.gmap {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* For YouTube Videos */
