/* ***   Footer    *** */

/* Footer resets */
footer * {
    /* Font */
    font-size: 1.8rem;

    /* Design */
    background-color: #2e2d2d;
    color: #ffffed;
}

footer {
    /* Layout */
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer a {
    /* Design */
    outline: none;
    text-decoration: none;
}

.ft-slice {
    /* Font */
    font-style: italic;

    /* Layout */
    padding: 2%;

    /* Behavior */
    flex: 1 300px;
}

.ft-slice:nth-child(3) {
    text-align: center;
}

/* Footer Lists for right-side element*/
footer ul {
    list-style: none;

}

footer ul li:nth-child(even) {
    text-align: left;
}

footer ul li:nth-child(odd) {
    text-align: right;
}

/* Project credits */
#credits {
    padding-top: 45px;
    text-align: end;
    font-size: 1.1rem;
}


/* This part is for external objects like YouTube videos and Google Maps */

/* Google Maps in Footer */
.ft-map {
    height: 0;
    overflow: hidden;
    padding-bottom: 20%;
    position: relative;
}

.gmap {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}