/* Stylesheet for Real Estate page. Behavior is unique to this page */

/* Header override */
header {
  /* Font */
  text-align: unset;

  /* Layout */
  margin: 50px;
}

main {
  /* Behavior */
  display: flex;
  flex-wrap: wrap-reverse;
}

.filter {
  border: 3px solid orange;

  /* Behavior */
  flex: 1;
}

.estates-ctn {
  border: 3px solid purple;

  /* Behavior */
  flex: 4;

  display: grid;
  column-gap: 10px;
}
