/* Stylesheet for Real Estate page. Behavior is unique to this page */

/* Header override */
header {
  /* Font */
  text-align: unset;

  /* Layout */
  margin: 50px;
}

/* Main content */
main {
  /* Layout */
  margin: 1vw;

  /* Behavior */
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

/* Left-hand side search filter */
.filter {
  /* Layout */
  margin: 0 15px 0 0;
  min-height: 600px;
  padding: 10px;

  /* Design */
  color: #f2eded;
  background-color: #2e2d2d;
  border-radius: 5px;
  box-shadow: 3px 3px 6px black;

  /* Behavior */
  flex: 1 150px;
}

.filter > h4 {
  /* Font */
  font-size: 2.5rem;

  /* Layout */
  margin-bottom: 15px;
  /* Design */
  color: inherit;
  background-color: inherit;
}

.filter div {
  display: flex;
  flex-wrap: wrap;
}

.filter button {
  /* Font */
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;

  /* Layout */
  margin: 2px;

  /* Design */
  background-color: inherit;
  outline: none;
  border: none;

  /* Behavior */
}

.filter button:hover {
  /* Design */
}

/* Right-hand side estated properties */
.showcase {
  /* Layout */

  /* Behavior */
  flex: 7 930px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 20px;
}
