/* Main style for all pages */

/* Remove default formatting and adding overall rules*/
* {
  /* Reset */
  padding: 0;
  margin: 0;

  /* Fonts */
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
}

/* $$$$$$$$   Navigation $$$$$$$ */

nav {
  /* Space */
  text-align: center;
  margin: 20px;
}

nav a {
  /* Font */
  font-size: 2rem;
  font-weight: bold;

  /* Space */
  margin: 40px;
  outline: none;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;

  /* Design */
  color: white; /* TODO: Change this to matching color set */
  background-color: black;
}

nav > a:visited,
nav > a:active {
  outline: none;
  text-decoration: none;
  color: white; /* TODO: Change this to matching color set */
  background-color: black;
}

/* nav > a:focus, */
nav > a:hover {
  color: black;
  background-color: white;
  font-weight: bold;
  /* Unsure of this decision */
  border: 1px solid black;
  border-radius: 5px;
}

/* $$$$$$$$   Header $$$$$$$ */

header {
  /* Space */
  text-align: center;
}

h1 {
  /* Font */
  font-size: 7rem;
  font-family: "Oswald", sans-serif;
}

h2 {
  /* Font */
  font-size: 3.5rem;
}

/* $$$$$$$$   Body $$$$$$$ */
h3 {
  /* Font */
  font-size: 3rem;
}
/* $$$$$$$$   Footer $$$$$$$ */
