/* Main style for all pages */

/* Remove default formatting and adding overall rules*/
* {
  /* Reset */
  padding: 0;
  margin: 0;

  /* Fonts */
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;

  /* Behavior */
  box-sizing: border-box;
}

/* $$$$$$$$   Navigation    $$$$$$$ */

nav {
  /* Layout */
  text-align: center;
  margin: 20px;
}

nav a {
  /* Font */
  font-size: 2rem;
  font-weight: bold;

  /* Layout */
  margin: 40px;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;

  /* Design */
  color: white; /* TODO: Change this to matching color set */
  background-color: black;
  outline: none;
  text-decoration: none;
}

nav > a:visited,
nav > a:active {
  /* Design */
  outline: none;
  text-decoration: none;
  color: white; /* TODO: Change this to matching color set */
  background-color: black;
}

/* nav > a:focus, */
nav > a:hover {
  /* Design */
  color: black;
  background-color: white;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
}

/* $$$$$$$$   Header    $$$$$$$ */

header {
  /* Layout */
  text-align: center;
  margin: 150px;
}

h1 {
  /* Font */
  font-size: 7rem;
  font-family: "Oswald", sans-serif;
}

h2 {
  /* Font */
  font-size: 3.5rem;
}

/* $$$$$$$$   Body    $$$$$$$ */
h3 {
  /* Font */
  font-size: 3rem;
  margin-bottom: 30px;
}

article {
  /* Layout */
  margin-left: 10vw;
  margin-right: 10vw;
}

p {
  /* Font */
  font-size: 2rem;

  /* Layout */
  margin-bottom: 2rem;
}

/* $$$$$$$$   Footer    $$$$$$$ */

footer {
  /* Layout */
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: Layout-evenly;
}

footer,
footer div,
footer a,
footer address {
  /* Font */
  font-size: 1.8rem;

  /* Design */
  background-color: black;
  color: white;
}

footer a {
  /* Design */
  outline: none;
  text-decoration: none;
}

.ft-slice {
  /* Design */
  border: 1px solid green; /* Temporary

  /* Behavior */
  flex: 1;
}
